@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


:root {
    --browntext:#390007;
    --pinktext:#FFCAC2;
    --whitetext:#FFFFFF;
    --standardfont: "Domaine", serif; 
}

body{
  color: var(--browntext);
  font-family: var(--standardfont);
}

ol{
  padding: 0;
  margin: 0;
}


.content_section{
  background-image: url("/bg.svg"); /* Correct path */
  background-size: cover; /* Optional, to control how the image scales */
  background-position: center; /* Optional, to center the background */

}




.head_text{
  font-size: 6rem;
  text-align: left;
  word-wrap: center;
  max-width: 100%; /* Set width to take up the entire container */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Optional: remove default padding */
}

.reasons_li{
  font-size: 1.5rem;
  line-height: 5rem;
  list-style-position: inside;
}


@media screen and (max-width: 640px) {
  
  .head_text{
    font-size: 3rem;
  }

  .reasons_li{
    font-size: 1.5rem;
    line-height: 2rem;
    list-style-position: inside;
    padding: 1rem 0;
  }

  .createdby_container{
    margin-top: 1rem;
  }
  
}
