@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


:root {
    --browntext:#390007;
    --pinktext:#FFCAC2;
    --whitetext:#FFFFFF;
    --standardfont: "Domaine", serif; 
}

body{
  color: var(--browntext);
  font-family: var(--standardfont);
}

ol{
  padding: 0;
  margin: 0;
}


.bg-section{
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;

}


.content_section{
  padding-left: 2rem; /* Adjust based on your layout */
  padding-right: 2rem;
  max-width: 960px; /* Control the maximum width */
  margin-left: auto; /* Center the content */
  margin-right: auto;
  
}





.head_text{
  font-size: 4.5rem;
  text-align: left;
  max-width: 100%; /* Set width to take up the entire container */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Optional: remove default padding */
}

.reasons_li{
  font-size: 1.5rem;
  line-height: 5rem;
  list-style-position: inside;
}


@media screen and (max-width: 640px) {
  
  .head_text{
    font-size: 3rem;
  }

  .reasons_li{
    font-size: 1.5rem;
    line-height: 2rem;
    list-style-position: inside;
    padding: 1rem 0;
  }

  .createdby_container{
    margin-top: 1rem;
  }
  
}
